<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>迅雷电影院前端大保健</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
